fastapi
uvicorn[standard]
jinja2
python-multipart
python-dotenv
mysql-connector-python==9.4.0
email-validator>=2.0.0
phonenumbers>=8.13.0
fastapi-sessions>=0.3.0

# Dispositivo fisico
pyserial>=3.5
requests>=2.31.0
